<?xml version="1.0">
<model>
    <name>b_rover</name>
    <version>1.0</version>
<sdf version='1.4'>model.sdf</sdf>

<author>
    <name>Bavantha Udugama</name>
    <email>bavanthau@eng.pdn.ac.lk</email>
</author>

<description>
    Mini Swarm Robot Powered with ESP32 Cam module to perform Edge AI functions for advanced Swarm behaviors. 
</description>
</model>
